.background{
    position: fixed;
    background-color: rgba(0, 0,0, .8);
    height: 100vh;
    width: 100vw;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    position: fixed;
    width: 1000px;
    height: 500px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    background-color: #D1D5DB; 
    border-radius: 20px;
    padding: 25px;
    letter-spacing: 2px;
}

.close{
    position: absolute;
    top: 10px;
    right: 20px;
    display:block;
    font-size: x-large;
    color: black;
    padding: 0px 5px 0px 5px;
    border-radius: 10px;
    border:2px solid black;
}
.close :hover{
    color: blanchedalmond;
}