.sidebar{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}
.button_normal{
    padding-right: 36px;
    padding-left: 36px;
}
.button_normal:hover{
    padding-right: 36px;
    padding-left: 36px;
    background-color: aliceblue;
}
.button_highlight{
    padding-right: 36px;
    padding-left: 36px;
    background-color: aliceblue;
}
.button__text_normal{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.button__text_highlight{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #6366F1;
}