.title{
    height: 175px;
    width: 100%;
    background-color: #EEF2FF
}
.page{
    padding-left: 100px;
    padding-right: 100px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
}
.title__upper{
    height: 135px;
    display: flex;
}
.title__upper__left{
    grid-column: span 5;
    display: flex;
    align-items: center;
}
.title__upper__left__image{
    padding-right: 23px;
}
.title__upper__left__text{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #6366F1;
}
.title__upper__right{
    display: flex;
    grid-column: 9 / span 4;
    align-items: center;
    justify-content: flex-end;
}
.title__upper__right__image{
    padding-right: 23px;
}
.title__upper__right__button{
    width: 140px;
    height: 32px;
    border-radius: 6px;
    border-style: solidcolor;
    border-width: 1px;
    border-color: #6366F1;
}
.title__upper__right__text{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #6366F1;
}
.title__lower{
    display: flex;
    justify-content: space-between;
}
.title__lower__information{
    display: flex;
}
.title__lower__information__group{
    display: flex;
    padding-right: 15px;
}
.title__lower__information__image{
    padding-right: 10px;
}

.title__lower__right{
    display: flex;
    justify-content: flex-end;
}
.title__lower__right__text{
    display: flex;
}
.title__lower__right__text_highlight{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #3B82F6;
    padding-right: 10px;
}
.title__lower__right__text_normal{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}