.background {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.container {
    position: fixed;
    height: 86vh;
    width: 60vw;
    background-color: white;
    border-radius: 20px;
    padding: 25px;
    letter-spacing: 2px;
}
@media all and (max-width: 640px) {
    .container {
        height: 100vh;
        width: 100vw;
    }
}

.close {
    position: absolute;
    scale: 3.33px;
    top: 27.33px;
    right: 32.33px;
    display: block;
    font-size: x-large;
    color: #6366f1;
    height: 33.33px;
    width: 43px;
}

.close:hover {
    background-color: #bcbff7;
    border-radius: 30%;
}
