.page{
    height: 600px;
    padding-left: 100px;
    padding-right: 100px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.field{
    grid-column: 2 / span 6;
    display: flex;
}
.field__m{
    flex-grow: 1;
    padding-top: 120px;
}
.field__text{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #6366F1;
}
.field__input{
    display: flex;
    padding-bottom: 20px;
}
.field__input_unactive{
    background: rgba(238, 242, 255, 1);
    border: 1px solid #6366F1;
    box-sizing: border-box;
    padding-left: 5px;
    border-radius: 8px;
    width: 100%;
    padding-right: 5px;
    resize: none;
}
.field__input_active{
    background: #ffffff;
    border: 1px solid #6366F1;
    box-sizing: border-box;
    padding-left: 5px;
    border-radius: 8px;
    width: 100%;
    padding-right: 5px;
    resize: none;
}

.title{
    grid-column: 8 / span 4;
    padding-top: 147px;
}
.title__input{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    padding-bottom: 20px;
}
.title__m{
    flex-grow: 1;
    grid-column: 2 / span 3;
}
.title__image{
    padding-right: 20px;
    grid-column: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.pbutton{
    display: flex;
    grid-column: 1 / span 4;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.button{
    background: #6366F1;
    border: 1px solid #6366F1;
    box-sizing: border-box;
    border-radius: 8px;
    width: 125px;
    height: 44px;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #EEF2FF;
}

.button:hover{
    background: #EEF2FF;
    border: 1px solid #EEF2FF;
    box-sizing: border-box;
    border-radius: 8px;
    width: 125px;
    height: 44px;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #6366F1;
}