.document{
    margin-right: 10px;
    margin-bottom: 20px;
    position: relative;
    height: 130px;
    width: 261px;
    left: 0px;
    top: 9px;
    border-radius: 20px;
    z-index: 4;
    background: #FFFFFF;
    /* indigo/500 */
    
    border: 1px solid #6366F1;
    box-sizing: border-box;
    /* /shadow/lg */
    
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
  
}
.button{
    display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
    position: relative;
margin-left: 40%;
margin-right:50%;
width: 246px;
height: 48px;
left:0px;
top: 320px;

/* indigo/100 */

background: #E0E7FF;
border-radius: 12px;
}
.decuong{
   position: relative;
   top:20px;
   margin-left: 185px;
    padding: 1px 0.5px;
    width: 60px;
    height: 20px;
z-index: 5;
    
    /* white */
    
    background: #FFFFFF;
    /* indigo/500 */
    
    border: 1px solid #6366F1;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    
    text-align: center;
    
    /* indigo/800 */
    
    color: #3730A3;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0   px 0px;
}

.text{

/* text-lg/leading-7/font-semibold */

font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;
/* or 156% */

display: flex;
flex-direction: column;
align-items: center;

color: #000000;
}

.icon{
height: 20px;
left: 20.69%;
right: 24.14%;
top: 5px;
display:inline-block;
margin-right: 9px;


/* indigo/500 */
}
.class{
    

left: 27.97%;
right: 41.38%;
top: 63.71%;
bottom: 10.48%;

/* text-sm/leading-8/font-normal */

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 32px;
/* identical to box height, or 229% */

display: flex;
    align-items: center;
    justify-content: center;

color: #000000;
display:inline-block
}