.page{
    padding-left: 100px;
    padding-right: 100px;
}
.buttonarea{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    display: flex;
    background: #E0E7FF;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}
.button__text{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    color: #6366F1;

    padding: 10px;
}
.button__image{
    padding: 10px;
}

.documentsection{
    display: flex;
    flex-wrap: wrap;
}