.sidebar{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}
.button_normal{
    padding: 14px;
    padding-right: 30px;
    padding-left: 30px;
}
.button_normal:hover{
    padding-right: 30px;
    padding-left: 30px;
    background-color: aliceblue;
}
.button_highlight{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 15px;
    margin-left: 15px;
    border-bottom: 2px solid #6366F1;
}
.button__text_normal{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.button__text_highlight{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #6366F1;
}
.line{
    border-left: 2px solid #000;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 70%;
}